.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    width: auto;
    height: 80px;
}

.add-button {
    background-color: azure;
    width: 45px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
}

.add-button:hover {
    background-color: grey;
}